.order {
	padding: 80px 0 20px;
	background-color: $primary;
	background: $primary url('../images/order-bg.png') center bottom no-repeat;
	background-size: contain;

	@media (max-width: 768px) {
		padding: 50px 0;
	}
	
	&__title {
		margin-bottom: 70px;

		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
	}
	
	&__row {
		
		display: flex;
	}
	
	&__body {
		flex: 584 / 1170 * 100%;
	}
	
	&__text {
		margin-bottom: 25px;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: $white;

		@media (max-width: 768px) {
			margin-bottom: 20px;
			font-size: 17px;
		}

		@media (max-width: 550px) {
			font-size: 14px;
		}
	}

	&__btn {
		position: relative;

		@media (max-width: 550px) {
			width: 100%;

			&::before {
				content: '';
				position: absolute;
				top: -20px;
				right: 10px;
				width: 105px;
				height: 79px;
				background: url('../images/drill.png');
				background-size: cover;
			}
		}
	}

	&__image {
		transform: translateY(-100px);
		
		@media (max-width: 991px) {
			transform: translateY(0);

			img {
				width: 352px;
				height: 242px;
			}
		}

		@media (max-width: 600px) {
			display: none;
		}
	}
}
