.popup-call {

	&__body {
		@media (max-width: 768px) {
			height: 100%;
			padding: 0;
		}
	}

	&__content {
		width: 900px;
		max-width: 100%;
		padding: 50px 150px 30px;
		background-color: $white;

		@media (max-width: 768px) {
			width: 100%;
			min-height: 100%;
			padding: 50px 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media (max-width: 550px) {
			padding: 30px;
		}
	}

	&__close {}

	&__title {
		max-width: 889px;
		margin-bottom: 72px;

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__btn {

		@media (max-width: 550px) {
			font-size: 14px;
			width: 140px;
		}
	}
}

.popup-quiz {

	&__body {
		@media (max-width: 768px) {
			height: 100%;
			padding: 0;
		}
	}

	&__content {
		width: 900px;
		max-width: 100%;
		background-color: $white;
		padding: 50px 150px 30px;

		@media (max-width: 768px) {
			width: 100%;
			height: 100%;
			padding: 80px 20px 50px;
		}

		@media (max-width: 550px) {
			padding: 30px 10px;
		}
	}

	&__close {}

	&__inner {
		@media (max-width: 768px) {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	&__count {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			border-radius: 2px;
			background: url('../images/icons/quiz/line.svg');
			background-repeat: repeat-x;

			@media (max-width: 768px) {
				background: url('../images/icons/quiz/line-sm.svg');
			}
		}

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 55px;
		height: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border: 2px solid $secondary;

		font-weight: 700;
		font-size: 30px;
		line-height: 140%;
		color: $white;

		transition: .2s linear;

		@media (max-width: 768px) {
			width: 40px;
			height: 40px;
			font-size: 25px;
		}

		@media (max-width: 550px) {
			width: 30px;
			height: 30px;
			font-size: 17px;
		}

		&.active {
			background-color: $secondary;
		}
	}

	&__container {
		overflow: hidden;

		@media (max-width: 768px) {
			flex: 1 1 auto;
		}

		@media (min-width: 768.02px) {
			padding-bottom: 30px;
		}
	}

	&__track {
		display: flex;
		transition: .2s linear;
	}

	&__slide {}

	&__buttons {
		display: flex;
		justify-content: flex-end;

		@media (max-width: 768px) {
			justify-content: flex-start;
		}
	}

	&__button {
		width: 105px;

		@media (max-width: 768px) {
			width: 166px;
		}
	}

	&__button--prev {
		margin-right: 20px;
		padding: 8px 10px;
		background-color: transparent;
		border: 2px solid #5B5B5B;
		cursor: pointer;

		@media (max-width: 550px) {
			font-size: 14px;
			padding: 7px 10px;
		}
	}

	&__button--next {
		padding: 9px 10px;
		font-size: 16px;
		line-height: 140%;
		color: $white;
		background-color: $secondary;
		border: none;
		cursor: pointer;

		@media (max-width: 550px) {
			font-size: 14px;
			padding: 8px 10px;
		}
	}

	&__button--done {
		display: none;
		padding: 9px 10px;
		font-size: 16px;
		line-height: 140%;
		color: $white;
		text-decoration: none;
		background-color: $secondary;

		@media (max-width: 550px) {
			font-size: 14px;
			padding: 8px 10px;
		}
	}
}

.slide-popup {
	flex: 0 0 100%;
	max-width: 100%;
	text-align: left;

	&__title {
		margin-bottom: 25px;
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
		text-transform: uppercase;
		color: #3D3D3D;

		@media (max-width: 768px) {
			font-size: 18px;
		}

		@media (max-width: 550px) {
			font-size: 16px;
		}
	}

	&__body {}

	&__row {
		display: flex;
		align-items: center;

		&--lg {
			&+& {
				margin-top: 25px;
			}
		}

		&+& {
			margin-top: 15px;
		}
	}

	&__radio {
		-webkit-appearance: none;
		appearance: none;
		display: none;
		margin: 0;
	}

	&__label {
		position: relative;
		padding-left: 30px;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: #3D3D3D;

		@media (max-width: 768px) {
			font-size: 17px;
		}

		@media (max-width: 550px) {
			padding-left: 26px;
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 4px;
			left: 0;
			width: 20px;
			height: 20px;
			border: 1px solid $secondary;
			border-radius: 50%;

			@media (max-width: 768px) {
				top: 1px;
			}

			@media (max-width: 550px) {
				width: 16px;
				height: 16px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			z-index: 2;
			top: 4px;
			left: 0;
			width: 20px;
			height: 20px;
			border: 6px solid $secondary;
			border-radius: 50%;
			opacity: 0;

			@media (max-width: 768px) {
				top: 1px;
			}

			@media (max-width: 550px) {
				width: 16px;
				height: 16px;
				border-width: 4px;
			}
		}
	}

	&__input {
		height: 40px;
		border: 2px solid #3D3D3D;

		@media (max-width: 550px) {
			height: 35px;
		}

		&--sm {
			width: 90px;
		}

		&--xl {
			width: 480px;
		}
	}

	&__meter {
		margin-left: 12px;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: #3D3D3D;
	}

	&__icon {
		margin-right: 15px;
	}

	&__who {
		margin-right: 15px;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: #3D3D3D;

		@media (max-width: 550px) {
			font-size: 14px;
		}
	}


	&__counter {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: #3D3D3D;

		@media (max-width: 550px) {
			font-size: 16px;
		}
	}

	&__minus,
	&__plus {
		position: relative;
		width: 21px;
		height: 21px;
		border-radius: 50%;
		padding: 0;
		background-color: transparent;
	}

	&__minus {
		margin-right: 7px;
		border: 1px solid $secondary;

		&::before {
			content: '';
			position: absolute;
			top: 9px;
			left: 5px;
			width: 9px;
			height: 2px;
			border-radius: 2px;
			background-color: $secondary;
		}
	}

	&__plus {
		margin-left: 7px;
		border: 1px solid $secondary;
		background-color: $secondary;

		&::before {
			content: '';
			position: absolute;
			top: 9px;
			left: 5px;
			width: 9px;
			height: 2px;
			border-radius: 2px;
			background-color: $white;
		}

		&::after {
			content: '';
			position: absolute;
			top: 9px;
			left: 5px;
			width: 9px;
			height: 2px;
			transform: rotate(90deg);
			border-radius: 2px;
			background-color: $white;
		}
	}

	&__contact {
		display: flex;
		margin-bottom: 10px;

		@media (max-width: 550px) {
			flex-direction: column;
		}
	}

	&__name,
	&__email {
		padding: 12px 15px;
		border: 2px solid #3D3D3D;
		font-size: 16px;
		line-height: 140%;
		color: #3D3D3D;

		@media (max-width: 768px) {
			width: 260px;
			padding: 7px 15px;
		}

		@media (max-width: 550px) {
			font-size: 14px;
			width: 100%;
			padding: 6px 15px;
		}
	}

	&__name {
		margin-right: 30px;

		@media (max-width: 768px) {
			margin-right: 20px;
		}

		@media (max-width: 550px) {
			margin: 0 0 20px 0;
		}
	}

	&__email {}

	&__checkbox {
		-webkit-appearance: none;
		appearance: none;
		display: none;
		margin: 0;
	}

	&__agree {
		position: relative;
		padding-left: 30px;
		font-size: 16px;
		line-height: 140%;
		color: #3D3D3D;
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 18px;
			height: 18px;
			border: 1px solid #3D3D3D;
			background-color: $white;
		}

		&::after {
			display: none;
			content: '';
			position: absolute;
			top: 5px;
			left: 4px;
			z-index: 2;
			width: 10px;
			height: 7px;
			background: url(../images/icons/checkbox.svg);
		}
	}

	&__secondary {
		color: $secondary;
	}
}

.slide-popup__radio:checked+.slide-popup__label::after {
	opacity: 1;
}

.slide-popup__checkbox:checked+.slide-popup__agree::after {
	display: block;
}